[Unit]
Description=BME280
After=syslog.target network-online.target

[Service]
EnvironmentFile=/home/pi/bme280.env
ExecStart=/home/pi/bme280
Restart=always
Type=simple
RestartSec=10

[Install]
WantedBy=multi-user.target network-online.target

